/* ----- helpers ----- */

// variables
@import "helpers/variables";

/* ----- helpers ----- */


.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}

:root {
    --main-bg-color: #141625;
    --main-color: #fff;
    --gray-color: #7E84A8;
}


body, html {
    font-family: 'Recursive', sans-serif;
    background: var(--main-bg-color) !important;
    color: var(--main-color)
}

h1, h2, h3, h4 {
    font-weight: bold;
}


/* ----- pages ----- */

// index
@import "pages/index";

/* ----- pages ----- */
