.invoice-card {
    background-color: #1F2035;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr 2fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    place-items: center;
    padding: 1.4rem 0;
    border-radius: .6rem;


    @media (max-width: 767px) {
        grid-template-columns: 1.5fr 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 17px;
    }

    @media (max-width: 517px) {
        grid-template-columns: 1.5fr 2fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 17px;
    }

    &:not(:last-of-type) {
        margin-bottom: 1.3rem;
    }

    .id {

    }

    .date {

    }

    .clientName {

    }

    .total {

    }

    .status {

    }

    .link {
        svg {
            width: 20px;
            height: 20px;
        }
    }
}
